@model IEnumerable<FerretruckASP.Models.tipo_usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_tipo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_tipo }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.id_tipo }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_tipo })
        </td>
    </tr>
}

</table>
